# Tiesinė regresija užduotis

Turime lentelę su 7 žuvų rūšim, bei įvairiais jų išmatavimais. Vienas iš jų yra svoris - tai bus mūsų target stulpelis. Sukurkite tiesinės regresijos modelį, kuris pagal kitus lentelės stulpelius spėlios žuvies svorį. Išsiaiškinkite, ar yra trūkstamų reikšmių, atsispausdinkite keletą diagramų ir histogramų, patyrinėkite tendencijas ir koreliacijas.

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [2]:
fish = pd.read_csv('https://raw.githubusercontent.com/robotautas/kursas/master/Machine%20Learning/Fish.csv')
fish.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [3]:
fish.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [6]:
dummies = pd.get_dummies(fish['Species'])
dummies.head()

   Bream  Parkki  Perch  Pike  Roach  Smelt  Whitefish
0      1       0      0     0      0      0          0
1      1       0      0     0      0      0          0
2      1       0      0     0      0      0          0
3      1       0      0     0      0      0          0
4      1       0      0     0      0      0          0

In [9]:
data = pd.concat([fish, dummies], axis=1)
data.tail()

,Species,Weight,Length1,Length2,Length3,Height,Width,Bream,Parkki,Perch,Pike,Roach,Smelt,Whitefish
154,Smelt,12.2,11.5,12.2,13.4,2.0904,1.3936,0,0,0,0,0,1,0
155,Smelt,13.4,11.7,12.4,13.5,2.4300,1.2690,0,0,0,0,0,1,0
156,Smelt,12.2,12.1,13.0,13.8,2.2770,1.2558,0,0,0,0,0,1,0
157,Smelt,19.7,13.2,14.3,15.2,2.8728,2.0672,0,0,0,0,0,1,0
158,Smelt,19.9,13.8,15.0,16.2,2.9322,1.8792,0,0,0,0,0,1,0

In [13]:
data.drop(['Species'], axis=1, inplace=True)
data.tail()

KeyError: "['Species'] not found in axis"

In [11]:
features = data[list(data.columns)[1:]]
features

,Length1,Length2,Length3,Height,Width,Bream,Parkki,Perch,Pike,Roach,Smelt,Whitefish
0,23.2,25.4,30.0,11.5200,4.0200,1,0,0,0,0,0,0
1,24.0,26.3,31.2,12.4800,4.3056,1,0,0,0,0,0,0
2,23.9,26.5,31.1,12.3778,4.6961,1,0,0,0,0,0,0
3,26.3,29.0,33.5,12.7300,4.4555,1,0,0,0,0,0,0
4,26.5,29.0,34.0,12.4440,5.1340,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
154,11.5,12.2,13.4,2.0904,1.3936,0,0,0,0,0,1,0
155,11.7,12.4,13.5,2.4300,1.2690,0,0,0,0,0,1,0
156,12.1,13.0,13.8,2.2770,1.2558,0,0,0,0,0,1,0
157,13.2,14.3,15.2,2.8728,2.0672,0,0,0,0,0,1,0
158,13.8,15.0,16.2,2.9322,1.8792,0,0,0,0,0,1,0

In [12]:
target = data['Weight']
target

0      242.0
1      290.0
2      340.0
3      363.0
4      430.0
       ...
154     12.2
155     13.4
156     12.2
157     19.7
158     19.9
Name: Weight, Length: 159, dtype: float64

In [14]:
from sklearn.model_selection import train_test_split
features_train, features_test, target_train, target_test = train_test_split(
    features, target, test_size=0.60, random_state=42
)
features_train

,Length1,Length2,Length3,Height,Width,Bream,Parkki,Perch,Pike,Roach,Smelt,Whitefish
69,21.2,23.0,25.8,10.3458,3.6636,0,1,0,0,0,0,0
127,41.1,44.0,46.6,12.4888,7.5958,0,0,1,0,0,0,0
27,32.7,36.0,41.5,16.5170,5.8515,1,0,0,0,0,0,0
150,10.8,11.3,12.6,1.9782,1.2852,0,0,0,0,0,1,0
124,39.8,43.0,45.2,11.9328,7.2772,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
71,24.0,26.0,29.0,11.3680,4.2340,0,1,0,0,0,0,0
106,25.9,28.0,29.4,7.8204,4.2042,0,0,1,0,0,0,0
14,29.4,32.0,37.2,14.9544,5.1708,1,0,0,0,0,0,0
92,20.5,22.5,24.0,6.7920,3.6240,0,0,1,0,0,0,0
102,25.2,27.3,28.7,8.3230,5.1373,0,0,1,0,0,0,0

In [15]:
target_train[69]

200.0

In [16]:
from sklearn.linear_model import LinearRegression

In [17]:
ai = LinearRegression().fit(features_train, target_train)

In [18]:
predictions = ai.predict(features_test)
predictions

array([ 2.52413687e+01,  5.95421494e-01,  2.08449859e+02,  3.31665261e+02,
        2.15482994e+02,  7.53929942e+02, -7.24585071e+01,  2.53698723e+02,
        2.59678480e+02,  1.18648573e+03,  6.00206027e+02,  8.47635320e+02,
        5.37239650e+02,  1.52193053e+02,  6.78093881e+02,  8.17925786e+02,
        1.02085423e+03,  2.81460586e+02,  2.21230474e+02,  5.80928938e+02,
       -2.65982999e+01,  5.79658685e+02,  5.06143757e+02,  4.79971143e+02,
        8.14231017e+02,  9.65625735e+02,  2.18708642e+02,  3.55983349e+02,
       -1.02621031e+02, -2.80999101e+01,  5.98136370e+02, -1.80105070e+01,
       -1.04683495e+02,  7.28061602e+02,  3.58027459e+02,  1.63308996e+02,
        1.88699604e+02,  1.09828388e+02,  2.04508008e+02,  7.80041169e+02,
        6.78083828e+02,  7.28191073e+02, -7.67869255e+01,  1.79681138e+02,
        1.92874650e+02,  6.19181650e+00,  1.35603189e+02,  6.51314578e+02,
        1.35643024e+02,  7.02557771e+01,  7.20492577e+02,  4.85662042e+02,
        5.38647607e+02])

In [19]:
data_predictions = pd.Series(data=predictions, name='fish_predictions')
data_predictions

0       25.241369
1        0.595421
2      208.449859
3      331.665261
4      215.482994
5      753.929942
6      -72.458507
7      253.698723
8      259.678480
9     1186.485729
10     600.206027
11     847.635320
12     537.239650
13     152.193053
14     678.093881
15     817.925786
16    1020.854225
17     281.460586
18     221.230474
19     580.928938
20     -26.598300
21     579.658685
22     506.143757
23     479.971143
24     814.231017
25     965.625735
26     218.708642
27     355.983349
28    -102.621031
29     -28.099910
30     598.136370
31     -18.010507
32    -104.683495
33     728.061602
34     358.027459
35     163.308996
36     188.699604
37     109.828388
38     204.508008
39     780.041169
40     678.083828
41     728.191073
42     -76.786925
43     179.681138
44     192.874650
45       6.191816
46     135.603189
47     651.314578
48     135.643024
49      70.255777
50     720.492577
51     485.662042
52     538.647607
Name: fish_predictions, dtype: float64

In [20]:
comparison = pd.concat([target_test.reset_index(), data_predictions], axis=1)
comparison

    index  Weight  fish_predictions
0      78    78.0         25.241369
1     155    13.4          0.595421
2     128   200.0        208.449859
3      55   270.0        331.665261
4      94   150.0        215.482994
5      29  1000.0        753.929942
6     147     7.0        -72.458507
7      51   180.0        253.698723
8      98   188.0        259.678480
9     141  1250.0       1186.485729
10     19   650.0        600.206027
11     60  1000.0        847.635320
12     15   600.0        537.239650
13     65   150.0        152.193053
14     24   700.0        678.093881
15     30   920.0        817.925786
16    126  1000.0       1020.854225
17    101   218.0        281.460586
18     96   225.0        221.230474
19     16   700.0        580.928938
20    151    10.0        -26.598300
21     18   610.0        579.658685
22     12   500.0        506.143757
23      9   500.0        479.971143
24     31   955.0        814.231017
25    125  1100.0        965.625735
26     95   170.0        218.708642
27     56   270.0        355.983349
28    145     6.7       -102.621031
29    152     9.9        -28.099910
30    135   510.0        598.136370
31     76    70.0        -18.010507
32     75    51.5       -104.683495
33    138   567.0        728.061602
34      2   340.0        358.027459
35     86   120.0        163.308996
36     45   160.0        188.699604
37     42   120.0        109.828388
38     68   145.0        204.508008
39    118   820.0        780.041169
40     26   720.0        678.083828
41    137   500.0        728.191073
42    146     7.5        -76.786925
43     90   110.0        179.681138
44     66   140.0        192.874650
45     36    69.0          6.191816
46     82   110.0        135.603189
47     22   620.0        651.314578
48     85   130.0        135.643024
49     81    85.0         70.255777
50    112   685.0        720.492577
51     11   500.0        485.662042
52    109   514.0        538.647607

In [21]:
ai.score(features_test, target_test)

0.9405192628555377

In [24]:
final_data = pd.merge(fish[['Species', 'Weight']].reset_index(), comparison, on='index')
final_data

    index    Species  Weight_x  Weight_y  fish_predictions
0       2      Bream     340.0     340.0        358.027459
1       9      Bream     500.0     500.0        479.971143
2      11      Bream     500.0     500.0        485.662042
3      12      Bream     500.0     500.0        506.143757
4      15      Bream     600.0     600.0        537.239650
5      16      Bream     700.0     700.0        580.928938
6      18      Bream     610.0     610.0        579.658685
7      19      Bream     650.0     650.0        600.206027
8      22      Bream     620.0     620.0        651.314578
9      24      Bream     700.0     700.0        678.093881
10     26      Bream     720.0     720.0        678.083828
11     29      Bream    1000.0    1000.0        753.929942
12     30      Bream     920.0     920.0        817.925786
13     31      Bream     955.0     955.0        814.231017
14     36      Roach      69.0      69.0          6.191816
15     42      Roach     120.0     120.0        109.828388
16     45      Roach     160.0     160.0        188.699604
17     51      Roach     180.0     180.0        253.698723
18     55  Whitefish     270.0     270.0        331.665261
19     56  Whitefish     270.0     270.0        355.983349
20     60  Whitefish    1000.0    1000.0        847.635320
21     65     Parkki     150.0     150.0        152.193053
22     66     Parkki     140.0     140.0        192.874650
23     68     Parkki     145.0     145.0        204.508008
24     75      Perch      51.5      51.5       -104.683495
25     76      Perch      70.0      70.0        -18.010507
26     78      Perch      78.0      78.0         25.241369
27     81      Perch      85.0      85.0         70.255777
28     82      Perch     110.0     110.0        135.603189
29     85      Perch     130.0     130.0        135.643024
30     86      Perch     120.0     120.0        163.308996
31     90      Perch     110.0     110.0        179.681138
32     94      Perch     150.0     150.0        215.482994
33     95      Perch     170.0     170.0        218.708642
34     96      Perch     225.0     225.0        221.230474
35     98      Perch     188.0     188.0        259.678480
36    101      Perch     218.0     218.0        281.460586
37    109      Perch     514.0     514.0        538.647607
38    112      Perch     685.0     685.0        720.492577
39    118      Perch     820.0     820.0        780.041169
40    125      Perch    1100.0    1100.0        965.625735
41    126      Perch    1000.0    1000.0       1020.854225
42    128       Pike     200.0     200.0        208.449859
43    135       Pike     510.0     510.0        598.136370
44    137       Pike     500.0     500.0        728.191073
45    138       Pike     567.0     567.0        728.061602
46    141       Pike    1250.0    1250.0       1186.485729
47    145      Smelt       6.7       6.7       -102.621031
48    146      Smelt       7.5       7.5        -76.786925
49    147      Smelt       7.0       7.0        -72.458507
50    151      Smelt      10.0      10.0        -26.598300
51    152      Smelt       9.9       9.9        -28.099910
52    155      Smelt      13.4      13.4          0.595421

# savarankiskai meginuosi

In [27]:
flights = sns.load_dataset('flights')
flights

     year month  passengers
0    1949   Jan         112
1    1949   Feb         118
2    1949   Mar         132
3    1949   Apr         129
4    1949   May         121
..    ...   ...         ...
139  1960   Aug         606
140  1960   Sep         508
141  1960   Oct         461
142  1960   Nov         390
143  1960   Dec         432

[144 rows x 3 columns]

In [28]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        144 non-null    int64
 1   month       144 non-null    category
 2   passengers  144 non-null    int64
dtypes: category(1), int64(2)
memory usage: 2.9 KB

In [29]:
dummies = pd.get_dummies(flights['month'])
dummies.head()

   Jan  Feb  Mar  Apr  May  Jun  Jul  Aug  Sep  Oct  Nov  Dec
0    1    0    0    0    0    0    0    0    0    0    0    0
1    0    1    0    0    0    0    0    0    0    0    0    0
2    0    0    1    0    0    0    0    0    0    0    0    0
3    0    0    0    1    0    0    0    0    0    0    0    0
4    0    0    0    0    1    0    0    0    0    0    0    0